{% extends 'default.html' %}

{% block content %}

<div class="container-fluid">
<div class="row">
	<div class="col-1 px-1 position-fixed" id="sticky-sidebar">
		<div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
			<div class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('timeline') }}">Timeline</a>
				<br>
		    		<br>
                      		<a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('account') }}">Account</a>
		    		<br>
                    		<br>
                   		<a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('logout') }}">Logout</a>
                	</div>
		</div>
	</div>
</div>
</div>

<div class="wrapper1">
	<div class="text-center mt-4 name">
		Clucker
	</div>

	<form class="p-3 mt-3" action="{{ url_for('timeline') }} " method="post">
		<div class="form-field d-flex align-items-center">
			{{cluck.csrf_token}}
                	{{cluck.cluck(placeholder='Cluck till your heart is content')}}
		</div>
		<div class="form-field d-flex align-items-center">
			{{cluck.newCluck}}
		</div>
	</form>
</div>
<div class="row">
	<div class="col-lg-7 mx-auto">
		<ul class="timeline">
			{% for cluck in timeline %}
			<li class="timeline-item bg-white rounded ml-3 p-4 shadow">
				<h2 class="h5 mb-0">{{cluck.author.username}}</h2>
				<p class="text-small mt-2 font-weight-light">
				{{cluck.cluck}}
				</p>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
                  
{% endblock %}
