{% extends 'default.html' %}

{% block content %}
<div class="wrapper">
        <div class="text-center mt-4 name">
                Clucker
        </div>
        <form class="p-3 mt-3" action="{{ url_for('register') }} " method="post">
                <div class="form-field d-flex align-items-center">
                        <span class="far fa-user"></span>
                        {{form.csrf_token}}
                        {{form.username(placeholder='Username')}}
                </div>
                <div class="form-field d-flex align-items-center">
                        <span class="fas fa-key"></span>
                        {{form.password(placeholder='Password')}}
                </div>

                <div class="form-field d-flex align-items-center">
                        {{form.register()}}
                </div>
        </form>
        <div class="text-center fs-6">
                <a href="{{ url_for('login') }}">Sign In Here</a>
        </div>
</div>
{% endblock %}
